@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,800,900');

body {
    font-family: 'Work Sans', sans-serif !important;
}


// .container {
// 	background-color: rgba(100, 12, 12, 0.2);
// 	margin: 0 auto;
// 	width: 86.875vw;
// 	height: 100vh;
// }