h1, ._heading-h1 { 
    font-size: 40px;
     font-family: 'Work Sans', sans-serif !important;
}
h2, ._heading-h2 { 
    font-size: 35px;
     font-family: 'Work Sans', sans-serif !important;
}
h3, ._heading-h3 { 
    font-size: 25px;
     font-family: 'Work Sans', sans-serif !important;
}
h4, ._heading-h4 { 
    font-size: 18px;
     font-family: 'Work Sans', sans-serif !important;
}
h5, ._heading-h5 { 
    font-size: 14px;
     font-family: 'Work Sans', sans-serif !important;
}
p, ._heading-p { 
    font-size:  16px;
     font-family: 'Work Sans', sans-serif !important;
}

///////////////
strong { 
    font-weight: 900
}

