<template>
   <div id="geral">
      <section id="topo">
          <div class="container">
             <h1 class="logo" data-aos="zoom-in" data-aos-duration="1500"></h1>
             <div class="inscricoes">
                <button>inscrições abertas</button>
             </div>
             <p>Bem vindo ao método utilizado por inúmeros empresários que reinventaram suas comunicações, açavancaram seus lucros e descobriram que mesmo a mais severa das crises pode ser superada com técnicas de comunicação inteligentes.</p>
            <div id="video">
                <iframe width="100%" height="583" src="https://www.youtube.com/embed/rqW9pP0ni2c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div> 
      </section>
      <section id="minhaVaga">
         <div class="container">
            <p><span>Estude comunicação para négocios <br> com quem é autoridade no assunto</span></p>
            <p>Aprenda com experiências reais e aplique <br> na sua carreira, empresa ou produto.</p>
            <button class="btn-rosa">quero garantir minha vaga</button>
         </div>
         <span class="assets_orange"></span>
      </section>
      <section id="sobre">
        <div class="container">
          <div class="container">
             <h2>O WS.</h2>
             <p><span>wemerson santos</span> é sócio e co-fundador da agência publicitária alma/age e diretor executivo do jornal notibras possui uma carreira profissional que se define em uma palavra: inóbvio. wemerson atuou para folha de São Paulo, Brasil econômico, correio brasiliense, Rolling Stone Brasil, trip e outras tantas, sempre apurando e escrevendo de modo inóbvio.</p>
             <p>wemerson atuou ainda para grandes agências de comunicação: Loducca, jwt e Isobar, foi dando pontapés no óbvio que atuou como redator de discursos de um ex-ministro das comunicações e dois ex-presidentes do Banco Central.</p>
             <a href="#" class="btn-outline-saiba-mais">conheça mais</a>
          </div>
        </div>
      </section>
      <section id="parceiros">
         <h3>o que a imprensa diz sobre wemerson</h3>
         <div>
            <img src="@/assets/gr_correios.png" alt="Imagem da logo do correios">
            <img src="@/assets/gr_gps.png" alt="Imagem da logo do GPS">
            <img src="@/assets/gr_luxus.png" alt="Imagem da logo do Luxus">
            <img src="@/assets/gr_notibras.png" alt="Imagem da logo do Notibras">
            <img src="@/assets/gr_sbt.png" alt="Imagem da logo do Notibras">
         </div>
      </section>
      <section id="quemPode">
          <div class="container">
              <h3>Esse curso foi feito para quem...</h3>
              <div class="main-passos">
                  <div class="box-etapa">
                    <div class="box-passo">
                          <h4>1 <span>#</span></h4>
                    </div>
                    <div class="info-passo">
                        <p>Para quem é empresário e deseja criar mensagens claras para seus produtos, négocios ou estratégicas.</p>
                    </div> 
                  </div>
                   <div class="box-etapa">
                    <div class="box-passo">
                          <h4>2 <span>#</span></h4>
                    </div>
                    <div class="info-passo">
                        <p>Para que quer empreender e precisa de um norte criativo, de insights de comunicação, de ajuda para projetar as ideias.</p>
                    </div> 
                  </div>
                   <div class="box-etapa">
                    <div class="box-passo">
                          <h4>3 <span>#</span></h4>
                    </div>
                    <div class="info-passo">
                        <p>Para quem está precisando de novas ideias para seus négocios por meio de estratégias de comunicação.</p>
                    </div> 
                  </div>
                   <div class="box-etapa">
                    <div class="box-passo">
                          <h4>4 <span>#</span></h4>
                    </div>
                    <div class="info-passo">
                        <p>Para você que não te mais tempo a perder e quer virar o jogo contra a crise, ser ais reconhecido e contrar com maiores margens de lucro.</p>
                    </div> 
                  </div>
              </div>
              <p class="texto-apoio">O segredo para alcançar os resultado com a comunicação não é investir uma pilha de dinheiro em anúncios, mas sim encontrar uma conexão real com as pessoas certas. Não é preciso as melhores empresas para isto. Basta aprender projetar seu crescimento com técnicas simples ensinadas neste curso.</p>
              <button class="btn-quem-pode">quero garantir minha vaga</button>
          </div>
      </section>
      <section id="jornada">
         <div class="container">
            <div class="container">
                <h3>Sua jornada dentro do curso</h3>
                <p>Nesse curso serão explicados os caminhos para trazer efetividade à sua comunicação, aos seus négocios, aos seus lucros. Ahh, e tem várias outras dicas que aprendi ao longo da minha jornada profissional.</p>
                <img src="@/assets/jornada_img.png"  />
            </div>
         </div>
      </section>
      <section id="jornadaMobile">
         <h3>Sua jornada <br> dentro do curso </h3>
         <p>Nesse curso serão explicados os <br> caminhos para trazer efetividade à <br> sua comunicação, aos seus negócios, <br> aos seus lucros. Ahh, e tem várias <br> outras dicas que aprendi ao longo da <br> minha jornada profissional.</p>
         <img src="@/assets/gr_w_carousel.png" class="logo-wemerson">
         <div class="carousel-jornada">
             <div>
                <img src="@/assets/carousel_01.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_02.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_03.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_04.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_05.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_06.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_07.png" class="logo-wemerson">
             </div>
             <div>
                <img src="@/assets/carousel_08.png" class="logo-wemerson">
             </div>
             
         </div>
      </section>
      <section id="depoimento"> 
          <div class="container">
              <h3>Confira o que algumas personalidades do mundo <br> empresarial acham sobre Wemerson Santos</h3>
              <div class="main-depoimentos">
                <div class="box-depoimento"  
                  data-aos="fade-left" 
                   data-aos-easing="linear"
                   data-aos-duration="1500"  @click="showModalDepoimentos">
                  <div class="box-depoimento-video">
                      <img src="@/assets/gr_video-thumb.png" alt="Thumb de video">
                  </div>
                  <div class="box-depoimento-info">
                      <h4>Eliana Pedrosa</h4>
                      <img src="@/assets/gr_aspas.png" alt="Imagem de aspas">
                      <p>Este conteúdo a gente não encontra em lugar nehnum principalmente quando agregamos à politica</p>
                  </div>
                </div>
                <div class="box-depoimento"  @click="showModalDepoimentos">
                  <div class="box-depoimento-video">
                      <img src="@/assets/gr_video-thumb.png" alt="Thumb de video">
                      
                  </div>
                  <div class="box-depoimento-info">
                      <h4>Eliana Pedrosa</h4>
                      <img src="@/assets/gr_aspas.png" alt="Imagem de aspas">
                      <p>Este conteúdo a gente não encontra em lugar nehnum principalmente quando agregamos à politica</p>
                  </div>
                </div>
                <div class="box-depoimento" 
                   data-aos-easing="linear"
                   data-aos-duration="1500"
                  data-aos="fade-right" @click="showModalDepoimentos">
                  <div class="box-depoimento-video">
                      <img src="@/assets/gr_video-thumb.png" alt="Thumb de video">
                  </div>
                  <div class="box-depoimento-info">
                      <h4>Eliana Pedrosa</h4>
                      <img src="@/assets/gr_aspas.png" alt="Imagem de aspas">
                      <p>Este conteúdo a gente não encontra em lugar nehnum principalmente quando agregamos à politica</p>
                  </div>
                </div>
              </div>
              <button class="btn-quero-garantir">quero garantir minha vaga</button>
          </div>
          <span>
                  <img src="@/assets/gr_vector_depoimentos.png" />
          </span>
      </section>
      <section id="condicoes">
        <div class="container">
           <p>Condições para os 100 primeiros inscritos <br> no curso Comuniaction:</p>
        </div>
      </section>
      <section id="preco-inscritos">
          <div class="container">
             <img src="@/assets/gr_preco_comunnication.png" alt="Imagem preco do plano" class="is-hidden-touch">
             <img src="@/assets/gr_preco_obile.png" alt="" class="is-hidden-desktop">
          </div>
      </section>
      <section id="condicoes-unicas">
          <div class="container">
             <p>Condicões únicas para um conteúdo único.</p>
             <p><span>São <strong>2 semanas</strong> de curso para mudar sua história.</span></p>
          </div>
      </section>
      <section id="quanto-vale">
        <div class="container">
          <div class="box-quanto-vale" data-aos="fade-down" data-aos-anchor-placement="top" data-aos-duration="1500">
            <h3>Quanto vale</h3>
            <p>mudar sua forma de pensar?</p>
          </div>
          <div class="box-quanto-vale" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
            <h3>Quanto vale</h3>
            <p>se diferenciar para atrair mais lucratividade?</p>
          </div>
          <div class="box-quanto-vale" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
            <h3>Quanto vale</h3>
            <p>repensar para continuar evoluindo?</p>
          </div>
          <div class="box-quanto-vale" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
            <h3>Quanto vale</h3>
            <p>se reinventar?</p>
          </div>
          <h4>Pode custar caro caso <br> você perca a sua vaga!</h4>
          <button class="btn-quero-garantir">quero garantir minha vaga</button>
        </div>
        <span>
           <img src="@/assets/gr_circle_quanto_vale.png" alt="">
        </span>
      </section>
      <section id="whatsapp">
          <div class="container">
            <p>Precisa de ajuda?</p>
            <p>Envie-me uma mensagem:</p>
            <a href="#" class="btn-whats">
               <img src="@/assets/btn_whats.png" alt="">
            </a>
            <h4>(61) 98277-1372</h4>
          </div>
          <span>
             <img src="@/assets/bg_whats_left.png" alt="">
          </span>
      </section>
      <section id="rodape">
        <p>powered by R&W Inova</p>
      </section>
   <!-- MODAL VIDEOS -->
  <div class="modal" id="modal-videos" :class="{'modalShow' : modalDepoimento}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div>
           <iframe width="100%" height="583" src="https://www.youtube.com/embed/rqW9pP0ni2c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="showModalDepoimentos"></button>
</div>

   </div>
</template>


<script>
import AOS from 'aos'
import $ from 'jquery'
import slick from '../scripts/slick.min.js'

export default {
  data () {
    return {
      modalDepoimento: false
    }
  },
  methods: {
     showModalDepoimentos () {
       this.modalDepoimento = !this.modalDepoimento
     },

     inicializarCarousel () {
          $('.carousel-jornada').slick({
              arrows: false,
              dots: true
          });
     }
  },

  mounted() {
     AOS.init();
     this.inicializarCarousel();
  
  }
}
</script>





<style lang="scss" scoped>
@import url(../style/lib/_slick.scss);

#geral {
  overflow: hidden;

  @keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
}

#topo {
  background-image: url(../assets/bg_topo_mobile_communication.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 1166px;
  padding: 50px 0 0 0;

  @media only screen and (max-width : 768px) {
    height: auto;
    padding: 20px 0 0 0;
    background-image: url(../assets/bg_topo_mobile_communication_2.jpg);
  }

  .logo {
    background-image: url(../assets/gr_logo_comunicacao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px auto;
    width: 40.88vw;
    height: 134px;

    @media only screen and (max-width : 768px) {
      background-image: url(../assets/logo_mobile.png);
      background-position: top center;
      height: 60px;
      width: 250px;
    }
  }
  .inscricoes {
    position: relative;
    background-color: #67c0bf;
    border-radius: 5px;
    width: 326px;
    height: 55px;
    margin: 40px auto;
    transform: rotate(-2deg);

    &:hover {
      background-color: #f39200;
      transition: all 400ms ease-in-out;
    }

    @media only screen and (max-width : 768px) {
      font-size: 15px;
      height: 32px;
      width: 219px;
      border-radius: 4px;
    }

    button {
      background-color: #f39200;
      border-radius: 5px;
      width: 326px;
      height: 55px;
      border: none;
      color: #ffffff;
      font-size: 28px;
      font-weight: bold;
      transform: rotate(-2deg);
      position: absolute;
      left: 5px;
      top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
      background-color: #67c0bf;
      transition: all 400ms ease-in-out;
      }

      @media only screen and (max-width : 768px) {
        font-size: 15px;
        height: 32px;
        width: 219px;
        border-radius: 4px;
      }

    }
  }

  p {
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    width: 810px;
    line-height: 30px;

    @media only screen and (max-width : 768px) {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }
  }

  #video {
    margin-top: 45px;
    padding: 0 60px;

    @media only screen and (max-width : 768px) {
      padding: 0px;
    }

    iframe {
      @media only screen and (max-width : 768px) {
        height: 180px;
        margin-bottom: 40px;
        border-radius: 20px;
      }
    }
  }

}

#minhaVaga {
  background-image: url(../assets/bg_autoridade.png);
  background-color: #2eaba6;
  background-size: cover;
  padding: 70px 0 65px 0;
  position: relative;

  @media only screen and (max-width : 768px) {
    background-color: #2eaba6;
    background-image: none;
    padding: 30px 0 30px 0;
  }

  .assets_orange {
    background-image: url(../assets/gr_assets_autoridade.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 106px;
    width: 118px;
    position: absolute;
    left: 0;
    z-index: 2;

    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

  p {
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    font-weight: 600;

    @media only screen and (max-width : 768px) {
      font-size: 14px;
      line-height: 18px;
    }

    span {
      color: #06070a;
    }
  }

  button {
    background-color: #e3007e;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    height: 66px;
    margin: 38px auto;
    width: 415px;
    cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    transition: transform 400ms ease-in-out;
  }

    @media only screen and (max-width : 768px) {
        width: 260px;
        height: 45px;
        font-size: 15px;
        margin: 20px auto 0 auto;
    }

  }
}

#sobre {
  background-image: url(../assets/bg_sobre_comunicacao.jpg);
  background-size: cover;
  height: 485px;
  position: relative;
  padding-left: 26%;
  padding-top: 70px;

  @media only screen and (max-width : 992px) {
    background-image: url(../assets/bg_sobre_comunicacao_mobile.png);
    background-size: cover;
    padding: 35px 0 35px 0;
    height: auto;
  }

  h2 {
    color: #2eaba6;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  p {
    color: #ffffff;
    width: 648px;
    line-height: 25px;

    
    @media only screen and (max-width : 768px) {
        width: 100%;
        font-size: 14px;
    }

    &:nth-child(2) {
      margin-bottom: 35px;
    }

    span {
      color: #ffffff;
      font-weight: bold;
    }
  }
     .btn-outline-saiba-mais {
        width: 150px;
        height: 40px;
        border: 2px solid #2eaba6;
        padding: 10px;
        display: block;
        text-align: center;
        margin-top: 20px;
        border-radius: 20px;
        font-weight: bold;
        color: #2eaba6;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          transform: translateY(-4px);
          transition: transform 400ms ease-in-out;
        }

        @media only screen and (max-width : 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 35px auto 0 auto;
            font-size: 15px;
            width: 155px;
        }
    }
}

#parceiros {
  background-color: #e6e6e6;
  padding: 35px 0 70px 0;
  h3 {
    font-size: 21px;
    color: #383638;
    text-align: center;
    margin-bottom: 35px;

    @media only screen and (max-width : 768px) {
      font-size: 20px;
      color: #383638;
      text-align: center;
      margin-bottom: 35px;
      font-weight: 700;
      width: 200px;
      line-height: 25px;
      margin: 0 auto;
    }
  }

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;

    @media only screen and (max-width : 992px) {
        flex-direction: column;
        align-items: center;
        height: 600px;
    }

    img {
      cursor: pointer;

      &:hover {
        transform: translateY(-4px);
        transition: transform 400ms ease-in-out;
      }

      @media only screen and (max-width : 992px) {
          margin-top: 80px;
      }
    }

  }
}

#quemPode {
  background-image: url(../assets/bg_quem_pode.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 0 0;

  @media only screen and (max-width : 992px) {
     background-image: none;
     background-color: #fff;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 40px 0 0 0;
  }
  
  h3 {
    color: #2eaba6;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 35px;

    @media only screen and (max-width : 768px) {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .texto-apoio {
     @media only screen and (max-width : 768px) {
         position: relative;
        margin-top: 45px;
        padding: 30px 0 0 0px;
        margin-bottom: 20px;
    }


 

    &::after { 
      @media only screen and (max-width : 768px) {
               content: '';
      position: absolute;
      top: 0;
      left: 45%;
      right: 0;
      height: 4px;
      width: 35px;
      border-radius: 20px;
      background-color: #f39200;
    }
    }
  }

  p{
    width: 70%;
    text-align: center;
    font-size: 20px;
    color: #2eaba6;
    margin: 0 auto;
    line-height: 25px;
    margin-bottom: 75px;
    font-weight: 600;

    @media only screen and (max-width : 992px) {
      width: 100%;
      font-size: 15px;
    }
  }

  .btn-quem-pode {
      background-color: #f39200;
      border: none;
      border-radius: 40px;
      color: #ffffff;
      display: block;
      font-size: 22px;
      font-weight: bold;
      height: 66px;
      margin: 0px auto 75px auto;
      width: 415px;
      cursor: pointer;

        &:hover {
          transform: translateY(-4px);
          transition: transform 400ms ease-in-out;
        }

          @media only screen and (max-width : 768px) {
        width: 260px;
        height: 45px;
        font-size: 15px;
        margin: 20px auto 40px auto;
      }
  }

  .box-etapa {
    width: 618px;
    display: flex;
    margin: 0 auto 60px auto;

    @media only screen and (max-width : 992px) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 20px auto;
        width: 100%;
    }

    .box-passo {
      width: 180px;
      display: flex;
      justify-content:center;
      position: relative;
      h4 {
        position: relative;
        font-size: 135px;
        font-weight: bold;
        color: #06070a;
        z-index: 1;
        span {
          position: absolute;
          top: 50px;
          font-size: 85px;
          left: -55px;
        }
      }
      
      &::after {
          content: '';
          position: absolute;
          background-color: #2eaba6;
          height: 55px;
          width: 110px;
          bottom: 70px;
          left: 20px;

          @media only screen and (max-width : 768px) {
                bottom: 15px;
          }
        }
    }

    &:nth-child(2) {
        .box-passo {
          &::after {
            content: '';
            position: absolute;
            background-color: #f39200;
            height: 55px;
            width: 110px;
           bottom: 70px;
            left: 20px;

             @media only screen and (max-width : 768px) {
                bottom: 15px;
          }
          }
        }
    }

    
    &:nth-child(3) {
        .box-passo {
          &::after {
            content: '';
            position: absolute;
            background-color: #1cbc66;
            height: 55px;
            width: 110px;
            bottom: 70px;
            left: 20px;
             @media only screen and (max-width : 768px) {
                bottom: 15px;
          }
          }
        }
    }

    &:nth-child(4) {
        .box-passo {
          &::after {
            content: '';
            position: absolute;
            background-color: #e3007e;
            height: 55px;
            width: 110px;
            bottom: 70px;
            left: 20px;
             @media only screen and (max-width : 768px) {
                bottom: 15px;
          }
          }
        }
    }

    .info-passo {
      display: flex;
      align-items: center;
      padding-top: 10px;
      width: 438px;
      padding-top: 50px;

       @media only screen and (max-width : 768px) {
          padding: 0px;
          width: 100%;
        }

       p {
        color: #06070a;
        font-weight: 800;
        font-size: 21px;
        width: 100%;
        text-align: left;

        @media only screen and (max-width : 768px) {
          font-size: 15px;
          text-align: center;
          margin-bottom: 10px;
        }
       }
    }
  }
}

#jornada {
  background-image: url(../assets/bg_jornada.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1287px;
  width: 100%;
  padding: 75px 0 0 0px;

  @media only screen and (max-width : 992px) {
    display: none;
  }

  h3 {
    color: #2eaba6;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  p{
    color: #ffffff;
    width: 780px;
    text-align: center;
    font-size: 22px;
    margin: 0 auto 113px auto;
  }
  img {
    margin: 0 auto;
    display: block;
  }
}

#jornadaMobile {
  display: none;
  background-color: #000000;
  padding: 20px 0 50px 0;

  h3 {
    color: #2eaba6;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    color: #fff;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .logo-wemerson {
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  .carousel-jornada  {
    margin-top: 20px;
    ul {
      display: flex !important;
    }
  }


  @media only screen and (max-width : 425px) {
    display: block;
  }



}

#depoimento {
  background-color: #e6e6e6;
  padding: 50px 0 5px 0;
  position: relative;

  span {
    position: absolute;
    bottom: -20px;
    left: 0px;

    @media only screen and (max-width : 992px) {
        display: none;
    }
  }

  h3 {
    color: #2eaba6;
    font-weight: bold;
    text-align: center;
    font-size: 32px;

    @media only screen and (max-width : 768px) {
        font-size: 20px;
        line-height: 24px;
    }
  }
      button{
        background-color: #2eaba6;
        border: none;
        color: #ffffff;
        border-radius: 40px;
        height: 66px;
        width: 412px;
        margin: 55px auto;
        display: block;
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          transform: translateY(-4px);
          transition: transform 400ms ease-in-out;
        }

        @media only screen and (max-width : 768px) {
          width: 100%;
          font-size: 17px;
          height: 55px;
        }
      }

  .main-depoimentos {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width : 992px) {
        flex-direction: column;
        align-items: center;
    }

    .box-depoimento {
      background-color: #ffffff;
      margin-top: 55px;
      width: 378px;
      border-radius: 8px;

      .box-depoimento-video {
        img {
          cursor: pointer;
        }
      }

      .box-depoimento-info {
         display: flex;
         border-radius: 20px;
         flex-direction: column;
         align-items: center;
         padding: 30px 64px 0 64px;
         height: 204px;

         h4 {
           font-size: 20px;
           text-transform: uppercase;
           margin-bottom: 20px;
         }

         img {
           cursor: pointer;
           margin-bottom: 20px;
         }

         p {
           color: #858585;
           font-size: 14px;
           text-align: center;
         }
      }
    }
  }
}

#condicoes {
  background-color: #06070a;
  padding: 65px 0 30px 0px;
   p {
     color: #ffffff;
     font-weight: bold;
     text-align: center;
     font-size: 30px;
   }
}

#preco-inscritos {
  background-color: #f39200;
  padding: 32px 0 30px 0px;

  @media only screen and (max-width : 768px) {
        background-color: #000;
        font-size: 20px;
        line-height: 24px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

#condicoes-unicas {
  background-color: #000000;
  padding: 35px 0 53px 0;
  p{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin:0 auto;
    line-height: 30px;
    span {
      color: #f39200;
      strong {
        color: #f39200;
      }
    }
  }
}

#quanto-vale {
  background-image: url(../assets/bg_quanto_vale.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 80px 0 0 0;
  position: relative;

  @media only screen and (max-width : 992px) {
     background-image: none;
     background-color: #ffffff;
  }
  @media only screen and (max-width : 768px) {
     padding: 40px 0 0 0;
  }

  .box-quanto-vale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../assets/gr_line_quem_pode.png);
      height: 4px;
      background-size: 100%;
      width: 80%;
      bottom: 0;
    }

    h3 {
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 12px;

      @media only screen and (max-width : 768px) {
        font-size: 25px;
      }
    }

    p{
      color: #000;
      font-size: 25px;

      @media only screen and (max-width : 768px) {
        font-size: 18px;
        text-align: center;
      }
    }
     &:nth-child(1) {
        h3 {
          color: #2eaba6;
        }
     }
     &:nth-child(2) {
        h3 {
          color: #000000;
        }
     }
     &:nth-child(3) {
        h3 {
          color: #1cbc66;
        }
     }
     &:nth-child(4) {
        h3 {
          color: #f39200;
        }
     }
  }

  h4 {
    color: #000;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .btn-quero-garantir {
    background-color: #2eaba6;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    height: 66px;
    margin: 0px auto 55px auto;
    width: 412px;
    cursor: pointer;

        &:hover {
          transform: translateY(-4px);
          transition: transform 400ms ease-in-out;
        }

     @media only screen and (max-width : 768px) {
        width: 100%;
        font-size: 17px;
        height: 55px;
      }
  }

  span {
    position: absolute;
    bottom: -85px;
    right: 0px;
    z-index: 1;

    @media only screen and (max-width : 992px) {
      display: none;
    }

  }
}

#whatsapp {
  background-color: #000;
  height: 335px;
  padding: 65px 0 0 0;
  position: relative;
  p{
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
     @media only screen and (max-width : 768px) {
        font-size: 20px;
     }
  }
  .btn-whats {
    img {
      display: block;
      margin: 25px auto 25px auto;
    }
  }

  h4 {
    color: #ffffff;
    font-weight: bold;
    font-size: 51px;
    text-align: center;

    @media only screen and (max-width : 768px) {
        font-size: 30px;
     }
  }

  span {
    position: absolute;
    left: 0px;
    top: 167px;

    @media only screen and (max-width : 992px) {
      display: none;
    }
  }
}

#rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  height: 70px;
  p {
    color: #505050;
    font-size: 17px;
    text-align: center;

    @media only screen and (max-width : 768px) {
        font-size: 14px;
     }
  }
}

.modalShow {
  display: block !important;
  animation: display-none-transition 1s both;
  .modal-content {
    overflow: hidden;
    margin-top: 50px;
  }
}

@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
</style>
