<template>
    <div id="instagram-page">
        <h1 class="logo-estrategia"></h1>
    </div>
</template>


<script>
export default {
    
}
</script>


<style lang="scss" scoped>
#instagram-page {
    background-image: url(../assets/instagram/bg_instagram.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 70px;
    .logo-estrategia {
        background-image: url(../assets/instagram/logo_estrategia.png);
        background-repeat: no-repeat;
        height: 120px;
        background-position: center;
    }
}
</style>
