@charset "UTF-8";

// Base
@import './base/reset';
//helpers
@import './helpers/mixins/mixin';
@import './helpers/variables';
@import './helpers/medias';
@import './helpers/helpers';
// layouts
@import '/layout/footer';
@import '/layout/header';
@import '/layout/layout';
// lib
@import '/lib/slick';
@import '/lib/vuebar';
@import '/lib/grid';
//modules
@import '/modules/_buttons';
@import '/modules/_form';
@import '/modules/_nav';
@import '/modules/_tabs';
@import '/modules/_typography';


body {
    font-family: 'Work Sans', sans-serif !important;
}

.container  {
    @media only screen and (max-width : 992px) {
        width: 90%;
      }
}
