<template>
  <div id="app">
    <router-view/>
  </div>
</template>


<style lang="scss">
   @import '../node_modules/bulma/css/bulma.css';
   @import '../node_modules/aos/dist/aos.css';
   @import "@/style/main.scss";


</style>

